#bloq_principal {
    background-color: #EDECEA;
    width: 1000px;
    height: 500px;
    position: relative;
    top:30px;
    left: 190px;
}

#bloq_Pickup {
    background-color: white;
    width: 465px;
    height: 100px;
    position: absolute;
    top:15px;
    left: 20px;
    border: solid 1px #9B9B97;
    border-radius: 15px;
    box-shadow: 0 7px 25px #9B9B97;
}

#bloq_Pickup hr {
    border: 0;
    border-top: 1px solid #EDECEA; 
    height:0;
    margin-top: -12px;
    width: 400px;
}
 
#bloq_Pickup h1 {
    color: #4fa107;
    text-align:center;
    font-size: 20px;
    margin-top: 10px;
}
 
#bloq_Delivery {
    background-color: white;
    width: 465px;
    height: 100px;
    position: absolute;
    top:15px;
    right:20px;
    border: solid 1px #9B9B97;
    border-radius: 15px;
    box-shadow: 0 7px 25px #9B9B97;
}

#bloq_Delivery h1 {
    color:#D32F2F;
    text-align:center;
    font-size: 20px;
    margin-top: 10px;    
}

#bloq_Delivery hr {
    border: 0;
    border-top: 1px solid #EDECEA; 
    height:0;
    margin-top: -12px;
    width: 400px;
}
 
#text_Zip_from {
    text-align:center;
    outline: none;
    position: absolute;
    left: 20px;
    width: 200px;
    height: 25px;
    border: solid 1px #9B9B97;
    border-radius: 5px;
    background-color: #E5E8E8;
    margin-top: 10px;
    
}
 
#text_City_from {
    text-align:center;
    outline: none;
    position: absolute;
    width: 200px;
    height: 25px;
    border: solid 1px #9B9B97;
    border-radius: 5px;
    background-color: #E5E8E8;
    margin-top: 10px;
    right:20px;
}
    
#text_Zip_to {
    text-align:center;
    outline: none;
    position: absolute;
    left: 20px;
    width: 200px;
    height: 25px;
    border: solid 1px #9B9B97;
    border-radius: 5px;
    background-color: #E5E8E8;
    margin-top: 10px;
}
     
#text_City_to {
    text-align:center;
    outline: none;
    position: absolute;
    width: 200px;
    height: 25px;
    border: solid 1px #9B9B97;
    border-radius: 5px;
    background-color: #E5E8E8;
    margin-top: 10px;
    right:20px;
}

#img_pickup {
    background: #EDECEA;
    position: absolute;
    width: 25px;
    top: 8px;
    left: 170px;
}

#img_delivery {
    position: absolute;
    width: 25px;
    top: 8px;
    left: 165px;
}

#app_3 {
    background-color: white;
    left: 20px;
    width: 958px;
    height: 140px;
    position: absolute;
    top: 150px;
    right:20px;
    border: solid 1px #9B9B97;
    border-radius: 15px;
    box-shadow: 0 7px 25px #9B9B97;
}

#app_3 hr {
    border: 0;
    border-top: 1px solid #BDBDBD; 
    height:0;
    margin-top: 5px;
    width: 900px;
}

#app_3 p {
    color: black;
    text-align:center;
    font-size: 20px;
    margin-top: 15px;
}    

.center {
    width: 800px;
    position: absolute;
    text-align: center;
    top: 70px;
    left: 70px;
}

input[type=checkbox] {
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

.checkboxtext {
    font-size: 75%;
    display: inline;
}

#bloq_commodity {
    position: absolute;
    left: 1px;
    width: 960px;
    height: 160px;
    top: 170px;
    right:20px;
    border: solid 1px #9B9B97;
    border-radius: 15px;
    box-shadow: 0 7px 25px #9B9B97;
}
#button {
    background-color: #022737;
    width: 960px;
    height: 35px;
    border-radius: 15px 15px 0px 0px;
}

.button_delete {
    border: none;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    left: 15px;
    width: 50px;
    height: 20px;
    top: 7px;
    background-color: #4099BF;
}

.button_delete:hover{
    color: #1883ba;
    background-color: #ffffff;
  }

.button_new_row {
    border: none;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    left: 75px;
    width: 90px;
    height: 20px;
    top: 7px;
    background-color: #4099BF;
}

.button_new_row:hover{
    color: #1883ba;
    background-color: #ffffff;
}

footer {
    position: absolute;
    bottom: 25px;
    width: 100%;
    height: 40px;
    left: 550px;
}

.zip_from {
    position: absolute;
    font-size: 15px;
    left: 40px;
    color:rgb(165, 161, 161)
}

.city_from {
    position: absolute;
    left: 250px;
    font-size: 15px;
    color:rgb(165, 161, 161)
}

.zip_to {
    position: absolute;
    font-size: 15px;
    left: 40px;
    color:rgb(165, 161, 161)
}

.city_to {
    position: absolute;
    left: 250px;
    font-size: 15px;
    color:rgb(165, 161, 161)
}

#app_2 h3 {
    color:#D32F2F;
    text-align:center;
    font-size: 20px;
    margin-top: 10px;  
}

.check_commodity {
    color: #022737;
    position: absolute;
    top: 10px;
    left:55px;
    font-size: 95%;
    display: inline;
}

.hu_count {
    color:#022737;
    position: absolute;
    left: 195px;
}

.dimensions {
    color:#022737;
    position: absolute;
    left: 345px;
}

.weight {
    color:#022737;
    position: absolute;
    left: 495px;
}

.commodity {
    color:#022737;
    position: absolute;
    left: 645px;
}

.stacable {
    color:#022737;
    position: absolute;
    left:795px;
}

#row_1 {
    position: absolute;
    width: 960px;
    height: 40px;
    font-size: 100%;
    background-color: #D0D8DB ;
    top: 35px;
    left: 0px;
}

#row_2 {
    position: absolute;
    width: 960px;
    height: 40px;
    font-size: 100%;
    background-color: white;
    top: 75px;
    left: 0px;
}

.check_row {
    color: #022737;
    position: absolute;
    top: 10px;
    left:55px;
    font-size: 95%;
    display: inline;
}

.x_1 {
    color:#022737;
    position: absolute;
    left: 215px;
}

.x_2 {
    color:#022737;
    position: absolute;
    left: 375px;
}

.x_3 {
    color:#022737;
    position: absolute;
    left: 513px;
}

.x_4 {
    color:#022737;
    position: absolute;
    left: 675px;
}

.x_5 {
    color:#022737;
    position: absolute;
    left:795px;
}

.lbl {
display: inline-block;
position: absolute;
width: 35px;
height: 20px;
background: #D0D8DB;
border-radius: 100px;
cursor: pointer;
transition: .3s;
left: 10px;
}

.lbl::after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 100px;
    position: absolute;
    top: 1px;
    left: 2px;
    transition: .3s;
}

#switch:checked + .lbl::after {
    left: 15px;
}

#switch:checked + .lbl {
    background: blue;
}

#switch {
    display: none;
}

#row_3 {
    position: absolute;
    width: 960px;
    height: 45px;
    font-size: 100%;
    background-color: #D0D8DB ;
    top: 115px;
    left: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.tot {
    color:#022737;
    position: absolute;
    left: 45px;
    top: 10px;
}

.tot_1 {
    color:#022737;
    position: absolute;
    left: 215px;
    top: 10px;
}

.tot_2 {
    color:#022737;
    position: absolute;
    left: 375px;
    top: 10px;
}

.tot_3 {
    color:#022737;
    position: absolute;
    left: 513px;
    top: 10px;
}

.tot_4 {
    color:#022737;
    position: absolute;
    left: 675px;
    top: 10px;
}

.tot_5 {
    color:#022737;
    position: absolute;
    left: 816px;
    top: 10px;
}